/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  color: black;
} */

@import "node_modules/bootstrap/scss/bootstrap"; // existing bootstrap import

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  color: black;
}
.navbar {
  padding-bottom: 69px;
}
.jumbotron-fluid{
  height:350px;
  opacity:0.9;
}

/*Styling for back to movies button*/
.movie-details-page a {
  text-decoration: none;
}

// .arrow {
//   width: 20px;
//   margin-right: 10px;
// }

.back-movies-text {
  color:black;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}

.back-movies-text:hover {
  margin-left: 10px;
}

.back-arrow-text {
  display: flex;
  height: 20px;
  padding-top: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}